{% extends 'mmis_app/base2.html' %}

    {% block title %} Mercury Added Products {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
<form action="/map_update/{{map.map_id}}" method="POST" autocomplete="off">
    <h3>UPDATE DATA</h3>

    {% csrf_token %}
    <div>
        <p>Mercury Compound</p>
        <div>
            <input type="text" name="mercury_compound" value="{{map.mercury_compound}}" >
        </div>
    </div>

    <div>
        <p>Item</p>
        <div>
            <input type="text" name="item" value="{{map.item}}" >
        </div>
    </div>

    <div>
        <p>Produced/Imported</p>
        <div>
            <input type="text" name="imported" value="{{map.imported}}" >
        </div>
    </div>

    <div>
        <p>Annual Consumption / Production</p>
        <div>
            <input type="text" name="consumption_or_production" value="{{map.consumption_or_production}}" >
        </div>
    </div>

    <div>
        <p>Year</p>
        <div>
            <input type="date" name="year" value="{{map.year}}" >
        </div>
    </div>


<div class="mt-5">
    <button type="submit" class="btn btn-success btn-width" value="submit"> Update </button>

</div>
</form>

</div>

{%  endblock %}
